Repository SakulFlee/Godot-WebRTC-Match-Maker, changes with the labels that .github/labeler.yml gives for each.
All labels: Godot, Server, CI

WS-RS warning with Clippy
  Match Maker Server/src/main.rs
Labels: Server

Rust documentation Fixes #62
  Match Maker Server/src/app_config.rs
  Match Maker Server/src/data/ice_candidate_request.rs
  Match Maker Server/src/data/ice_candidate_response.rs
  Match Maker Server/src/data/match_making_queue.rs
  Match Maker Server/src/data/match_making_request.rs
  Match Maker Server/src/data/match_making_response.rs
  Match Maker Server/src/data/mod.rs
  Match Maker Server/src/data/packet/mod.rs
  Match Maker Server/src/data/packet/packet_type.rs
  Match Maker Server/src/data/peer.rs
  Match Maker Server/src/data/request.rs
  Match Maker Server/src/data/response.rs
  Match Maker Server/src/data/session_description_request.rs
  Match Maker Server/src/data/session_description_response.rs
  Match Maker Server/src/lib.rs
  Match Maker Server/src/main.rs
Labels: Server

C# Documentation Fixes #54
  Godot Project/addons/match_maker/CandidateFilter.cs
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/match_maker/MatchMakerPlugin.cs
  Godot Project/addons/match_maker/MatchMakingRequest.cs
  Godot Project/addons/match_maker/MatchMakingResponse.cs
  Godot Project/addons/match_maker/Packet.cs
  Godot Project/addons/match_maker/PacketType.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPlugin.cs
Labels: Godot

README needs a big, final, 1.0.0 update before release Fixes #31
  README.md
Labels: none

README needs a big, final, 1.0.0 update before release Fixes #31
  README.md
Labels: none

Updated gitignore
  .gitignore
Labels: none

Added Logos for AddOns
  .gitignore
  Godot Project/addons/match_maker/Logo.png
  Godot Project/addons/webrtc_sipsorcery/Logo.png
Labels: Godot

Minor adjustments for Asset Library
  Godot Project/Demos/Chat/Chat.tscn
  Godot Project/addons/match_maker/Logo.png.import
  Godot Project/addons/webrtc_sipsorcery/Logo.png.import
  Godot Project/export_presets.cfg
Labels: Godot

Start of game demo
  Godot Project/Demos/Game/Game.cs
  Godot Project/Demos/Game/Game.tscn
  Godot Project/Demos/Game/GamePacket.cs
  Godot Project/Demos/Game/GamePacketType.cs
  Godot Project/Demos/Game/Player.tscn
  Godot Project/Main.cs
  Godot Project/Main.tscn
  Godot Project/addons/match_maker/Packet.cs
Labels: Godot

Godot project has the wrong title set Fixes #69
  Godot Project/project.godot
Labels: Godot

[WIP] Basic game play for example project Fixes #15
  Godot Project/Demos/Game/Game.cs
  Godot Project/Demos/Game/Game.tscn
  Godot Project/Demos/Game/GamePacket.cs
  Godot Project/Demos/Game/Player.tscn
  Godot Project/project.godot
Labels: Godot

Seamless upgrade to Godot 4.2 :) Fixes #73
  Godot Project/WebRTC Match Maker Godot Project.csproj
Labels: Godot

Export template
  Godot Project/WebRTC Match Maker Godot Project.csproj
  Godot Project/export_presets.cfg
Labels: Godot

Need (main) channel status changes Fixes #72
  .vscode/settings.json
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
Labels: Godot

Fixed Ping-Pong demo sends too many packages and wrongly! #75
  Godot Project/Demos/PingPong/PingPong.cs
Labels: Godot

Automated GitHub release on tag Fixes #77
  .gitignore
  .vscode/tasks.json
Labels: none

Automated GitHub release on tag Fixes #77
  .github/workflows/release.yml
  Godot Project/export_presets.cfg
Labels: Godot, CI

Needs
  .github/workflows/release.yml
Labels: CI

debug
  .github/workflows/release.yml
Labels: CI

Debug
  .github/workflows/release.yml
Labels: CI

Fixed?
  .github/workflows/release.yml
Labels: CI

Fixed Demo-Project export
  .github/workflows/release.yml
Labels: CI

Fixed match maker export
  .github/workflows/release.yml
Labels: CI

Fixed webrtc plugin export
  .github/workflows/release.yml
Labels: CI

Trying to append .exe to windows build
  .github/workflows/release.yml
Labels: CI

debug
  .github/workflows/release.yml
Labels: CI

Trying direct paths
  .github/workflows/release.yml
Labels: CI

Using better ref_name
  .github/workflows/release.yml
Labels: CI

Changed what to include in the release
  .github/workflows/release.yml
Labels: CI

Re-zipping
  .github/workflows/release.yml
Labels: CI

Setting makeLatest
  .github/workflows/release.yml
Labels: CI

Trying with quotes?
  .github/workflows/release.yml
Labels: CI

Trying to add manual run
  .github/workflows/release.yml
Labels: CI

Trying manual run
  .github/workflows/release.yml
Labels: CI

Manual is working
  .github/workflows/release.yml
Labels: CI

Working spawning
  Godot Project/Demos/Game/Game.cs
Labels: Godot

Somewhat working first implementation of Godot's high-level MP
  Godot Project/addons/webrtc_sipsorcery/WebRTCMultiplayerPeer.cs
Labels: Godot

High-Level demo for debugging
  Godot Project/Demos/HighLevel/HighLevel.cs
  Godot Project/Demos/HighLevel/HighLevel.tscn
  Godot Project/Main.cs
  Godot Project/Main.tscn
Labels: Godot

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: CI

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: CI

.github/labeler.yml:

Godot:
  - Godot Project/**

Server:
  - Match Maker Server/**

CI:
  - .github/**
