Repository SakulFlee/Godot-WebRTC-Match-Maker, changes with the labels that .github/labeler.yml gives for each.
All labels: Godot, Server, CI

.github/labeler.yml:

Godot:
  - Godot Project/**

Server:
  - Match Maker Server/**

CI:
  - .github/**

VSCode tasks for Godot Fixes #24
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

Better Godot Project structure Fixes #27
  Godot Project/Main.tscn
  Godot Project/Match Maker/Data/ICECandidate/ICECandidateRequest.cs
  Godot Project/Match Maker/Data/ICECandidate/ICECandidateResponse.cs
  Godot Project/Match Maker/Data/MatchMaking/MatchMakingRequest.cs
  Godot Project/Match Maker/Data/MatchMaking/MatchMakingResponse.cs
  Godot Project/Match Maker/Data/Request.cs
  Godot Project/Match Maker/Data/Response.cs
  Godot Project/Match Maker/Data/SessionDescription/SessionDescriptionRequest.cs
  Godot Project/Match Maker/Data/SessionDescription/SessionDescriptionResponse.cs
  Godot Project/Match Maker/Global/MatchMaker.cs
  Godot Project/Match Maker/Global/WebRTCConnection.cs
  Godot Project/Match Maker/Global/Workaround.gd
Labels: Godot

Corrected VSCode launch tasks
  .vscode/launch.json
Labels: none

Queue specific settings for Match Maker Fixes #6
  Godot Project/Main.cs
  Godot Project/Main.tscn
  Godot Project/Match Maker/Data/MatchMaking/MatchMakingRequest.cs
  Match Maker Server/src/app_config.rs
  Match Maker Server/src/main.rs
  Match Maker Server/src/match_making_query.rs
  Match Maker Server/src/match_making_request.rs
Labels: Godot, Server

Match Maker cleanup Fixes #5
  Match Maker Server/src/main.rs
Labels: Server

Match Maker server could use some better structuring of files (similar to Godot C# source) Fixes #30
  Match Maker Server/src/data/ice_candidate_request.rs
  Match Maker Server/src/data/ice_candidate_response.rs
  Match Maker Server/src/data/match_making_query.rs
  Match Maker Server/src/data/match_making_request.rs
  Match Maker Server/src/data/match_making_response.rs
  Match Maker Server/src/data/mod.rs
  Match Maker Server/src/data/peer.rs
  Match Maker Server/src/data/request.rs
  Match Maker Server/src/data/response.rs
  Match Maker Server/src/data/session_description_request.rs
  Match Maker Server/src/data/session_description_response.rs
  Match Maker Server/src/lib.rs
  Match Maker Server/src/main.rs
Labels: Server

Overview graphic is wrong Fixes #28
  Overview.drawio.png
  Overview.drawio.svg
  README.md
Labels: none

Basic UI with information about the current status Fixes #12
  Godot Project/Main.cs
  Godot Project/Main.tscn
  Godot Project/Match Maker/Global/MatchMaker.cs
Labels: Godot

Signals for incoming messages + way of replying easily Fixes #9
  Godot Project/Main.cs
  Godot Project/Match Maker/Global/MatchMaker.cs
  Godot Project/Match Maker/Global/WebRTCConnection.cs
Labels: Godot

Added additional VSCode tasks to launch multiple instances **and** a server.
  .vscode/launch.json
Labels: none

Added ping/pong logic
  Godot Project/Main.cs
  Godot Project/Main.tscn
  Godot Project/Match Maker/Global/MatchMaker.cs
  Godot Project/Match Maker/Global/WebRTCConnection.cs
Labels: Godot

Export projects Fixes #46
  Godot Project/export_presets.cfg
  Godot Project/project.godot
Labels: Godot

Added Exports to CI
  .github/workflows/build-godot.yml
Labels: CI

CI Correction
  .github/workflows/build-godot.yml
Labels: CI

Store connection information (ice candiates & session description for local and remote) in debug builds Fixes #43
  Godot Project/Main.cs
Labels: Godot

License Fixes #33
  LICENSE
Labels: none

Basic UI for chat Fixes #10
  Godot Project/Demos/Chat/Chat.cs
  Godot Project/Demos/Chat/Chat.tscn
  Godot Project/Demos/PingPong/PingPong.cs
  Godot Project/Demos/PingPong/PingPong.tscn
  Godot Project/Main.cs
  Godot Project/Main.tscn
Labels: Godot

Updated README
  README.md
Labels: none

Make a WebRTC Plugin/Addon Fixes #51
  Godot Project/addons/webrtc_sipsorcery/Plugin.cs
  Godot Project/addons/webrtc_sipsorcery/TestClass.cs
  Godot Project/addons/webrtc_sipsorcery/plugin.cfg
  Godot Project/project.godot
Labels: Godot

Merge failure
  Godot Project/addons/webrtc_sipsorcery/Plugin.cs
  Godot Project/addons/webrtc_sipsorcery/TestClass.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPlugin.cs
  Godot Project/addons/webrtc_sipsorcery/plugin.cfg
Labels: Godot

Disabled Chat Demo for now
  Godot Project/Demos/Chat/Chat.cs
Labels: Godot

Move MatchMaker classes to Plugin Fixes #52
  Godot Project/Match Maker/Data/ICECandidate/ICECandidateRequest.cs
  Godot Project/Match Maker/Data/ICECandidate/ICECandidateResponse.cs
  Godot Project/Match Maker/Data/Request.cs
  Godot Project/Match Maker/Data/Response.cs
  Godot Project/Match Maker/Data/SessionDescription/SessionDescriptionRequest.cs
  Godot Project/Match Maker/Data/SessionDescription/SessionDescriptionResponse.cs
  Godot Project/Match Maker/Global/MatchMaker.cs
  Godot Project/Match Maker/Global/WebRTCConnection.cs
  Godot Project/Match Maker/Global/Workaround.gd
  Godot Project/WebRTC Match Maker Godot Project.csproj
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/match_maker/MatchMakerPlugin.cs
  Godot Project/addons/match_maker/MatchMakingRequest.cs
  Godot Project/addons/match_maker/MatchMakingResponse.cs
  Godot Project/addons/match_maker/Packet.cs
  Godot Project/addons/match_maker/PacketType.cs
  Godot Project/addons/match_maker/plugin.cfg
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
  Godot Project/project.godot
Labels: Godot

Changed PingPong to use new WebRTC plugin
  Godot Project/Demos/PingPong/PingPong.cs
Labels: Godot

2x Peers, Local, Working
  Godot Project/Demos/Chat/Chat.tscn
  Godot Project/Demos/PingPong/PingPong.cs
  Godot Project/Demos/PingPong/PingPong.tscn
  Godot Project/Main.tscn
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/match_maker/MatchMakingResponse.cs
  Godot Project/addons/match_maker/Packet.cs
  Godot Project/addons/match_maker/PacketType.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
  Match Maker Server/src/data/match_making_response.rs
  Match Maker Server/src/data/mod.rs
  Match Maker Server/src/data/packet.rs
  Match Maker Server/src/data/packet_type.rs
  Match Maker Server/src/main.rs
Labels: Godot, Server

Export presets
  Godot Project/export_presets.cfg
Labels: Godot

Minor changes
  Godot Project/Demos/Chat/Chat.tscn
  Godot Project/Demos/PingPong/PingPong.tscn
  Godot Project/Match Maker/Global/WebRTCConnection.cs
  Godot Project/project.godot
Labels: Godot

Removed android (for now)
  Godot Project/export_presets.cfg
Labels: Godot

Settings
  Godot Project/project.godot
Labels: Godot

Added Candidate Filter
  Godot Project/Demos/PingPong/PingPong.tscn
  Godot Project/Main.tscn
  Godot Project/addons/match_maker/CandidateFilter.cs
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
Labels: Godot

Removed credentials
  Godot Project/Demos/PingPong/PingPong.tscn
Labels: Godot

Fixed MatchMaker::IsHost returning invalid results if Own/HostUUID is null
  Godot Project/addons/match_maker/MatchMaker.cs
Labels: Godot

Added OnNewConnectionEventHandler
  Godot Project/addons/match_maker/MatchMaker.cs
Labels: Godot

Added missing OnICEGatheringStateChangeEventHandler Signal
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
Labels: Godot

Fixed Ping-Pong demo!
  Godot Project/Demos/PingPong/PingPong.cs
  Godot Project/Demos/PingPong/PingPong.tscn
Labels: Godot

Cleanup
  Godot Project/Demos/PingPong/PingPong.cs
Labels: Godot

Bug fix
  Godot Project/Demos/PingPong/PingPong.cs
Labels: Godot

Chat demo is working
  Godot Project/Demos/Chat/Chat.cs
  Godot Project/Demos/Chat/Chat.tscn
Labels: Godot

Change credentials and set to Google's STUN Fixes #56
  Godot Project/addons/webrtc_sipsorcery/WebRTCPeer.cs
Labels: Godot

Remove WebRTC Plugin (Godot one) Fixes #55
  Godot Project/addons/WebRTC/LICENSE.json
  Godot Project/addons/WebRTC/LICENSE.libdatachannel
  Godot Project/addons/WebRTC/LICENSE.libjuice
  Godot Project/addons/WebRTC/LICENSE.libsrtp
  Godot Project/addons/WebRTC/LICENSE.openssl
  Godot Project/addons/WebRTC/LICENSE.plog
  Godot Project/addons/WebRTC/LICENSE.usrsctp
  Godot Project/addons/WebRTC/LICENSE.webrtc-native
  Godot Project/addons/WebRTC/webrtc.gdextension
Labels: Godot

Clippy! Fixes #57
  Match Maker Server/src/main.rs
Labels: Server
