Repository SakulFlee/Godot-WebRTC-Match-Maker, changes with the labels that .github/labeler.yml gives for each.
All labels: Godot, Server, CI

.github/labeler.yml:

Godot:
  - Godot Project/**

Server:
  - Match Maker Server/**

CI:
  - .github/**

Sorta working high-level multiplayer
  Godot Project/Demos/HighLevel/HighLevel.cs
  Godot Project/Demos/HighLevel/HighLevel.tscn
  Godot Project/Demos/HighLevel/Player.cs
  Godot Project/Demos/HighLevel/Player.tscn
  Godot Project/addons/webrtc_sipsorcery/WebRTCMultiplayerPeer.cs
  Godot Project/project.godot
Labels: Godot

Peers can connect even after the MatchMakerResponse got send Fixes #71
  Match Maker Server/src/main.rs
Labels: Server

Match Maker plugin should close connection once connected Fixes #85
  Godot Project/addons/match_maker/MatchMaker.cs
Labels: Godot

Added PacketSerializer class
  Godot Project/addons/match_maker/Packet.cs
  Godot Project/addons/match_maker/PacketSerializer.cs
Labels: Godot

Basic game play for example project Fixes #15
  Godot Project/Demos/Game/Background.png
  Godot Project/Demos/Game/Background.png.import
  Godot Project/Demos/Game/Game.cs
  Godot Project/Demos/Game/Game.tscn
  Godot Project/Demos/Game/GamePacket.cs
  Godot Project/Demos/Game/GamePacketAddPlayer.cs
  Godot Project/Demos/Game/GamePacketInput.cs
  Godot Project/Demos/Game/GamePacketPlayerMove.cs
  Godot Project/Demos/Game/GamePacketType.cs
  Godot Project/Demos/Game/Player.cs
  Godot Project/Demos/Game/Player.tscn
  Godot Project/addons/match_maker/MatchMaker.cs
  Godot Project/addons/match_maker/Packet.cs
  Godot Project/addons/match_maker/PacketSerializer.cs
Labels: Godot

MovePlayer packet may arrive and get processed before AddPlayer is done processing Fixes #92
  Godot Project/Demos/Game/Game.cs
  Godot Project/Demos/Game/GamePacketAddPlayer.cs
Labels: Godot

Basic game-play demo needs to be smoother Fixes #90
  Godot Project/Demos/Game/Player.cs
  Godot Project/Demos/Game/Player.tscn
Labels: Godot

Fixes Basic game-play demo needs to be smoother #90
  Godot Project/Demos/Game/Game.cs
  Godot Project/Demos/Game/Player.cs
Labels: Godot

Update labeler.yml
  .github/workflows/labeler.yml
Labels: CI
